   #     Dataset  Preparation for files under text format

L'utilisation de ce script va nous permettre de récupérer les textes se trouvant dans de nombreaux fichiers " .txt" et de les mettre sous forme d'un "data frame".

Un fichier ".csv" sera ensuite exporté , contenant des données "propres", exploitable comme inputs dans un futur travail de modélisation.

La data utilisé dans cet exemple est de l'origine la base de données " Large Movie Review Dataset v1.0" . La source et plu de détail de cette base de données se trouvent dans lien suivant: 

http://ai.stanford.edu/~amaas/data/sentiment/

L'objectif principal de ce travail étant création d'une méthode destinée à la préparation de données, nous n'allons utiliser  dans cet exemple qu'un extrait de la data d'origine ( 750/25000 observations de la test set).

In [1]:
import os
import pandas as pd
pd.set_option('display.width', 3000)

In [2]:
# indiquer le chemin du répertoire où les documents se trouvent, par exemple:
%cd E:\data\movie_reviews2git\reviews

E:\data\movie_reviews2git\reviews

In [3]:
# vérifier si on est dans le bon répertoire
%pwd

'E:\\data\\movie_reviews2git\\reviews'

Voici le code à exécuter pour collecter les données stockés dans des différents fichiers textex et les mettre sous forme d'un Data Frame

In [4]:
csv_header = "Commentaires" # nommer la colonne qui contiendra les commentaires
csv_out = 'data.csv'# créer un fichier csv vide pour y ajouter les commentaires ainsi que les notes correspondantes

csv_dir = os.getcwd()
dir_tree = os.walk(csv_dir)
for dirpath, dirnames, filenames in dir_tree:
    pass

csv_list = []

for file in filenames:
    if file.endswith('.txt'):
        csv_list.append(file)
csv_label=[float(csv_list[i][-5:-4]) for i in range(len(csv_list))]
csv_merge = open(csv_out, 'w',encoding="utf-8")# need putting utf-8
csv_merge.write(csv_header)
csv_merge.write('\n')

for file in csv_list:
    csv_in = open(file,encoding="utf-8")
    for line in csv_in:
        if line.startswith(csv_header):
            continue
        csv_merge.write(line)
        csv_merge.write('\n')
csv_in.close()
csv_merge.close()

In [5]:
# créer un dataframe ayant 2 colonnes: "Commentaire" et "Note"
reviews=pd.read_csv('data.csv', sep='\n')
note=pd.DataFrame(csv_label, columns=['Note'])
data=pd.concat([reviews,note], axis=1)

In [6]:
# Voir a quoi ressemble le data frame que l'on vient d'obtenir
data.head()

                                        Commentaires  Note
0  I went and saw this movie last night after bei...   0.0
1  The finest short I've ever seen. Some commenta...   0.0
2  I was looking forward to this movie. Trustwort...   4.0
3  I gave this a 3 out of a possible 10 stars.<br...   3.0
4  This is a very, very odd film...one that is so...   9.0

In [7]:
data.shape

(750, 2)

In [8]:
data.to_csv("test_set.csv", sep=",", index=False)

In [9]:
m=pd.read_csv("test_set.csv", sep=",")

In [10]:
m.head(10)

                                        Commentaires  Note
0  I went and saw this movie last night after bei...   0.0
1  The finest short I've ever seen. Some commenta...   0.0
2  I was looking forward to this movie. Trustwort...   4.0
3  I gave this a 3 out of a possible 10 stars.<br...   3.0
4  This is a very, very odd film...one that is so...   9.0
5  I of course saw the previews for this at the b...   4.0
6  Although Bullet In The Brain is, without quest...   8.0
7  ...means "take up and read", which is precisel...   0.0
8  too bad this movie isn't. While "Nemesis Game"...   3.0
9  This movie had a very unique effect on me: it ...   1.0

Nous avons donc obetnu un data frame qui contient:

- Chaque ligne correspond à un fichier ".txt" d'origine'

- La colonne " Commentaires" contient le commentaire stocké dans le ficchier ".txt" en question, la colonne " Note" représente la note correspondant à ce commentaire.